
/* General */
* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
.clearfix {
    content:"";
    display:table;
    clear:both;
}
body {
    font-family:'Nerko One', cursive;
    background-color: #ADD8E6;
}

.container{
    width: 60%;
    margin: auto;
    
}

/* Header */
header {
    margin:auto;
}

h1 {
    line-height: 70px;
    vertical-align: center;
    color:white;
    text-align: center;
    text-transform: uppercase;
}

.main-container{
    margin: auto;
}

/* Main */
.top,
.middle,
.bottom {
    margin: auto;
}

img {
    height: 120px;
}
.card {
    float: left;
    background-color: white;
    margin:0 20px 20px 0;
    padding:15px;
    border-radius:10px;
    position: relative;
}
.card-cover{
    width: 150px;
    height:174px;
    border-radius:10px;
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    background-size: contain;
    position: absolute;
    left:0;
    top:0;
    z-index:2;
}
.card-cover:hover{
    background-image: none;
}

.card-title {
    text-align: center;
}
.pink {
    color:#E61986;
}
.green {
    color: green;
}
.orange {
    color: orange;
}
.blue{
    color: blue;
}


/* Footer */
footer>p{
    line-height: 30px;
    vertical-align: 30px;
    text-align: center;
}